#currAppTab .dataTable thead th {
  white-space: normal;
  
}

#currAppTab .dataTable {
  font-size: 0.9em;
}

#benchDsTab .dataTable thead th {
  white-space: normal;
  
}

#benchDsTab .dataTable {
  font-size: 0.8em;
}

#reviewTab .dataTable thead th {
  white-space: normal;
  
}

#reviewTab .dataTable {
  font-size: 0.9em;
}